<main class="form-signin form-auth w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <div class="form-floating">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class:"form-control", id:"floatingInputName", placeholder:"" %>
      <label for="floatingInputName">First Name</label>
    </div>
    <div class="form-floating">
      <%= f.text_field :last_name, autocomplete: "family-name", class:"form-control", id:"floatingInputLastName", placeholder:"" %>
      <label for="floatingInputLastName">Last Name</label>
    </div>
    <div class="form-floating">
      <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"floatingInput", placeholder:"" %>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"floatingPassword", placeholder: "Password" %>
      <label for="floatingPassword">New password
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"floatingPasswordConf", placeholder: "Password confirmation" %>
      <label for="floatingPasswordConf">Password confirmation</label>
    </div>
    
    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</main>
